@import "tailwindcss";
@import "./theme.css";

:root {
  font-family: 'Futura', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-bg);
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}